<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security%22lang=%22en%22%3E
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>

  <link rel="stylesheet" th:href="@{css/navbar_partials.css}">
  <link rel="icon" type="img/x-icon" th:href="@{img/Travel-Bros-Logo.png}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


    <div id="dataFromUser" data-gas-tank="10" data-distance="400" data-mpg="30" data-other-expenses="1000" data-per-gallon="2.81" data-budget="$1000" ><div>




        <script src="../js/chuck.js"></script>


</body>
</html>